URxvt.scrollBar:false
URxvt.background:#073642
URxvt.foreground:#fdf6e3
URxvt.saveLines:65536
URxvt.font:xft:LiberationMono:size=16,xft:Symbola,xft:Code2000:antialias=false,xft:Unifont:antialias=false
URxvt.cursorBlink:true
URxvt.perl-ext:
URxvt.perl-ext-common:
URxvt.modifier:alt
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.intensityStyles: false
URxvt.termName:rxvt

! Palette
! #073642
! #586e75
! #657b83
! #839496
! #93a1a1
! #eee8d5
! #fdf6e3

*background:            #fdf6e3
*foreground:            #657b83
*fadeColor:             #fdf6e3
*cursorColor:           #586e75
*pointerColorBackground:#93a1a1
*pointerColorForeground:#586e75

! black dark/light
*color0:                #073642
*color8:                #002b36

! red dark/light
*color1:                #dc322f
*color9:                #DEB542

! green dark/light
*color2:                #859900
*color10:               #B4C342

! yellow dark/light
*color3:                #b58900
*color11:               #DEB542

! blue dark/light
*color4:                #268bd2
*color12:               #69B7F0

! magenta dark/light
*color5:                #d33682
*color13:               #F771AC

! cyan dark/light
*color6:                #2aa198
*color14:               #69CABF

! white dark/light
*color7:                #eee8d5
*color15:               #fdf6e3

! Cat your .Xresources to check colors:
!             bl re gr ye bl ma cy gr
! norm 0-7    [38;5;0m███[38;5;1m███[38;5;2m███[38;5;3m███[38;5;4m███[38;5;5m███[38;5;6m███[38;5;7m███[0m
! bold 0-7    [1;38;5;0m███[1;38;5;1m███[1;38;5;2m███[1;38;5;3m███[1;38;5;4m███[1;38;5;5m███[1;38;5;6m███[1;38;5;7m███[0m
! norm 8-15   [38;5;8m███[38;5;9m███[38;5;10m███[38;5;11m███[38;5;12m███[38;5;13m███[38;5;14m███[38;5;15m███[0m
! bold 8-15   [1;38;5;8m███[1;38;5;9m███[1;38;5;10m███[1;38;5;11m███[1;38;5;12m███[1;38;5;13m███[1;38;5;14m███[1;38;5;15m███[0m
