! Solarized palette:

#define Base03 #002b36
#define Base02 #073642
#define Base01 #586e75
#define Base00 #657b83
#define Base0  #839496
#define Base1  #93a1a1
#define Base2  #eee8d5
#define Base3  #fdf6e3


#define Yellow  #b58900
#define Orange  #cb4b16
#define Red     #dc322f
#define Magenta #d33682
#define Violet  #6c71c4
#define Blue    #268bd2
#define Cyan    #2aa198
#define Green   #859900


URxvt.scrollBar:false
URxvt.background:Base03
URxvt.foreground:Base1
URxvt.saveLines:65536
! Needs apt install fonts-symbola unifont
URxvt.font:xft:LiberationMono:size=14,xft:Symbola,xft:Code2000:antialias=false,xft:Unifont:antialias=false
URxvt.cursorBlink:true
URxvt.modifier:alt
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.intensityStyles: false
URxvt.termName:rxvt
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt.perl-ext:
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1


*background: Base03
*foreground: Base1
*fadeColor: Base03
*cursorColor: Base1

! black dark/light, color0 (black) be used as forground on colored backgrounds
*color0:                Base02
*color8:                Base01

! red dark/light
*color1:                Red
*color9:                Orange

! green dark/light
*color2:                Green
*color10:               #B4C342

! yellow dark/light
*color3:                Yellow
*color11:               #DEB542

! blue dark/light
*color4:                Blue
*color12:               #69B7F0

! magenta dark/light
*color5:                Magenta
*color13:               Violet

! cyan dark/light
*color6:                Cyan
*color14:               #69CABF

! white dark/light
*color7:                Base2
*color15:               Base3

! Cat your .Xresources to check colors:

! 4 bits colors:
!
!             bl re gr ye bl ma cy gr
! norm 0-7    [30m███[31m███[32m███[33m███[34m███[35m███[36m███[37m███[0m
! bold 0-7    [1;30m███[1;31m███[1;32m███[1;33m███[1;34m███[1;35m███[1;36m███[1;37m███[0m


! Same 8 colors, but expressed using "8 bit" syntax:
!
!             bl re gr ye bl ma cy gr
! norm 0-7    [38;5;0m███[38;5;1m███[38;5;2m███[38;5;3m███[38;5;4m███[38;5;5m███[38;5;6m███[38;5;7m███[0m
! bold 0-7    [1;38;5;0m███[1;38;5;1m███[1;38;5;2m███[1;38;5;3m███[1;38;5;4m███[1;38;5;5m███[1;38;5;6m███[1;38;5;7m███[0m


! 8 bits colors, high intensity:
!             bl re gr ye bl ma cy gr
! norm 8-15   [38;5;8m███[38;5;9m███[38;5;10m███[38;5;11m███[38;5;12m███[38;5;13m███[38;5;14m███[38;5;15m███[0m
! bold 8-15   [1;38;5;8m███[1;38;5;9m███[1;38;5;10m███[1;38;5;11m███[1;38;5;12m███[1;38;5;13m███[1;38;5;14m███[1;38;5;15m███[0m


! 4 bits colored text over normal background (should be readable):
! norm 0-7    [30mFoo[31mFoo[32mFoo[33mFoo[34mFoo[35mFoo[36mFoo[37mFoo[0m

! Black text over all backgrounds (should be readable):
! norm 0-7    [30;40mFoo[30;41mFoo[30;42mFoo[30;43mFoo[30;44mFoo[30;45mFoo[30;46mFoo[30;47mFoo[0m
